.header {
  max-width: 100%;
  margin-top: 63px;
  & .headerContainer {
    max-width: 1568px;
    margin: 0px auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    & .headerMenuContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 56px;
      & p {
        font-family: Google Sans Code;
        font-weight: 400;
        font-size: 22.61px;
        color: #212832;
        & .arrowRight {
          margin-left: 9px;
        }
      }
      & button {
        font-family: Google Sans Code;
        font-weight: 500;
        font-size: 22.61px;

        padding: 10px 30px;
        border-radius: 7px;
        border: 1px solid #212832;
        background-color: #ffffff;
      }
    }
  }
}
